<ion-header>
  <ion-toolbar>
    <ion-title>Employment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label>
    Employer:
    <input type="text" formControlName="employer">
  </label>

  <label>
    Position:
    <input type="text" formControlName="position">
  </label>

  <label>
    Description:
    <input type="text" formControlName="description">
  </label>

  <label>
    Beginning Date:
    <input type="text" formControlName="beginning">
  </label>

  <label>
    End Date:
    <input type="text" formControlName="end">
  </label>
</ion-content>
